.container {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}
.header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.header > div{
    font-size: 30px;
    font-weight:900;
}
body{
    font-family: Inter;
}