.Search{
    display: flex;
    align-items: center;
    background-color: rgb(233,233,233);
    border-radius: 15px;
    padding: 5px 10px;
    margin-bottom: 1.5rem;
}
.Search > input {
    border: none;
    background-color: rgb(233,233,233);
    width: 100%;
}
.Search > input:focus{
    outline: none;
}